<!-- <router-outlet>

</router-outlet> -->

<h1>Hello World</h1>
<app-user-list></app-user-list>
<h1>Angular Module</h1>
<app-login></app-login>
<app-signup></app-signup>

<!-- <button (click)="getName()">get my name</button> -->

<button (click)="myEvent('this is your last warning !')">warning</button>
<br /> <br /> 
<input type="text" #box (keyup)="myEvent(box.value)" />

<br> <br>
<input type="text" (blur)="myEvent('blue')"  />
<br> <br>
<div 
(mouseleave)="myEvent('mouse in here')"
style="background-color: aquamarine;">
Mouse Event
</div>

<h1>Get textbox vlaue in angulor</h1>
<input type="text" (keyup)="getVal($event.target.value)"/>




<!-- <h2>{{Name}}</h2>
<h1>{{getName()}}</h1>
<h3>{{obj.name}} <span>{{obj.age}}</span></h3>
<h4>{{siteUrl}}</h4> -->